<% projects.each_pair do | key, value | %>
RewriteRule ^/c?git/<%= key %>(/|/tree/)?$  https://salsa.debian.org/<%= value %> [last,noescape,redirect=permanent]
RewriteRule ^/c?git/<%= key %>.git(/|/tree/)?$ https://salsa.debian.org/<%= value %> [last,noescape,redirect=permanent]
RewriteRule ^/git/<%= key %>.git/(.*)  https://salsa.debian.org/<%= value %>/$1 [last,noescape,redirect=permanent]
RewriteRule ^/git/<%= key %>/(.*)  https://salsa.debian.org/<%= value %>/$1 [last,noescape,redirect=permanent]
<% end %>
